{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Home Page & Jumbotron -->
<div class="container-fluid jumbotron-image">
  <div class="row jumbotron-row">
    <div class="col-11 col-sm-9 col-md-8 offset-sm-2 offset-md-2 offset-lg-2 mt-5 pt-5 text-white jumbotron">
      <h1> Welcome to Epic Expeditions! </h1>
      <p> The best place to share your experiences with others. </p>
      <a href="{% url 'review_list' %}" class="btn btn-info">Take a look at some expeditions!</a>
    </div>
  </div>
</div>

{% endblock content %}
