{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <h1 class="text-center text-dark mt-5">Search for Live Weather Updates for Your Favourite Cities</h1>
    <form method="POST" class="col-md">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" name="city" placeholder="Search For a City">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row">
            {% if country_code and temp and pressure and humidity and temp_min and temp_max %}
            <div class="col d-flex justify-content-center">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <p><span class="badge badge-primary">Country Code: </span> {{ country_code }</p>
                        <p>
                            <span class="badge badge-primary">Forecast: </span> {{ main }
                            <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="Weather Icon" style="width:70px">
                        </p>
                        <p><span class="badge badge-primary">Temperature: </span> {{ temp }</p>
                        <p><span class="badge badge-primary">Pressure: </span> {{ pressure }</p>
                        <p><span class="badge badge-primary">Humidity: </span> {{ humidity }</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}