{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="weather-image">
    <h1 class="text-center pt-5 pb-5">Search for Live Weather Updates for Your Favourite Cities</h1>
    <nav class="navbar navbar-expand-lg weather-nav">
        <form method="POST" class="col-md">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control search-btn" name="city" placeholder="Search For a City">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-info">Search</button>
                </div>
            </div>
        </form>
    </nav>
    <div class="container">
        <div class="row">
            {% if country_code and temp and pressure and humidity %}
            <div class="col d-flex justify-content-center">
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        <p><span class="badge badge-dark m-3">Country Code: </span>{{ country_code }}</p>
                        <p>
                            <span class="badge badge-dark m-3">Forecast: </span>{{ main }}
                            <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="Weather Icon" style="width:70px">
                        </p>
                        <p><span class="badge badge-dark m-3">Temperature: </span>{{ temp }}</p>
                        <p><span class="badge badge-dark m-3">Pressure: </span>{{ pressure }}</p>
                        <p><span class="badge badge-dark m-3">Humidity: </span>{{ humidity }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}