/* General Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 2.75rem;
    color: #FFFAFA;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
}

.btn {
    background-color: #433A3F;
    
}

section {
    background-color: rgba(191, 222, 255, 0.7);
}

hr {
    border-color: #433A3F;
}

/* Navbar and Footer - Styles */

nav, footer {
    background: rgb(95,95,95);
    background: linear-gradient(90deg, rgba(95,95,95,1) 20%, rgba(95,191,249,1) 50%, rgba(95,95,95,1) 80%);
}

.list-inline-item a:hover {
    color: #433A3F;
}

.navbar-toggler {
    border-color:#433A3F;
}

/* Home Page - Styles & Media Queries */

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1650135293/epic-expeditions/website-jumbotron_x1vzpw.jpg');
    max-width: 100vw;
    height: 90vh;
  }

.jumbotron {
    background-color: rgba(67, 58, 63, 0.6);
}

@media (max-width: 982px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 901px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .jumbotron {
        margin: auto;
    }
}

/* Message Container - Styles */

.message-container {
    position: fixed;
    top: 63px;
    z-index: 99999999999;
    font-size: 0.8rem;
    left: 20px;
}

/* Expedition Review List & Detail Pages - Styles & Media Queries */

.card-img-top {
    width: 100%;
    height: 32vw;
    object-fit: cover;
    border-radius: 10px;
}

.card-img-top-2 {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    border-radius: 10px;
}

.card {
    background-color: rgba(255, 224, 191, 0.7);
}

@media (max-width: 575px) {
    .image-list {
        width: 100%;
        height: 55vw;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media (max-width: 767px) {
    .image-detail {
        width: 100%;
        height: 55vw;
        object-fit: cover;
        border-radius: 10px;
    }
    .review-content {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 991px) {
    .image-list {
        width: 100%;
        height: 40vw;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .review-content {
        margin-top: 125px;
        margin-left: 20px;
    }
}

.checked {
    color: #5FBFF9;
}

.star-rating {
    margin: 0 auto;
    width: fit-content;
}

.likes {
    color: #71816D;
}

.comments {
    color: #E56B65;
}

.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}

.btn-submit {
    background-color: #71816D;
    color: white;
}

.btn-like {
    color: #71816D;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E56B65;
    border: none;
    background: transparent;
}

.custom-pagination {
    background: rgb(95,95,95,0);
}

.pagination .page-item .page-link {
    background-color: #433A3F;
}

.pagination {
    margin-bottom: 0;
}

/* Add Review Page - Styles & Media Queries */

.addreview-image {
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1649000966/epic-expeditions/addreview-image_l6a1wg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.addreview-card {
    background-color: rgba(67, 58, 63, 0.9);
    color: #FFFAFA;
    max-width: 80%;
    margin: auto;
}

@media (max-width: 340px) {
    
    .star-section,
    .star-section h5 {
        font-size: 0.9rem;
    }
    
}

/* Register and Login Pages - Styles & Media Queries */

.login-card,
.signup-card {
    background-color: rgba(255, 255, 255, 0.85);
}

.login-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1648676565/epic-expeditions/login-image_bkqsgn.jpg');
    max-width: 100vw;
    height: 100vh;   
}

.login-form-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1648920035/epic-expeditions/login-form-image_dx300p.jpg');
}

.register-form-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1648921509/epic-expeditions/register-form-image_fbff9h.jpg');
}

.btn-signin,
.btn-signup {
    background-color: #FFE0BF !important;
    border: 1px solid #FFE0BF !important;
    border-radius: 50px;
    color: #433A3F;
    height: 50px;
    font-size: 0.9rem;
}

.login input,
.signup input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login p:last-of-type {
    display: none;
}

.signup label {
    display: none;
}

.register-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1648678473/epic-expeditions/register-image_iyq5r1.jpg');
    max-width: 100vw;
    height: 100vh; 
}

/* Sign Out Page - Styles & Media Queries */

.signout-image {
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1650816378/epic-expeditions/signout-image_xez0l9.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    height: 100vh; 
}

.signout-container {
    text-align: center;
    background-color: rgba(67, 58, 63, 0.8);
    border-radius: 50px;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    position: relative;
    top: 170px;
}

@media (max-width: 520px) {
    .signout-container {
        max-width: 400px;
    }
}

@media (max-width: 420px) {
    .signout-container {
        max-width: 300px;
    }
}

/* Weather Page - Styles & Media Queries */

.weather-nav {
    margin: 0 auto;
    max-width: 700px;
}

.search-btn {
    margin-top: 20px;
    margin-right: 20px;
}

.input-group-btn {
    margin: 10px;
}

.weather-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1650133205/epic-expeditions/weather-image_egvanw.jpg');
    max-width: 100vw;
    height: 115vh; 
}

.weather-nav {
    padding: 0;
}

@media (max-width: 700px) {
    .weather-image h1 {
        font-size: 2rem;
    }
}

@media (max-width: 490px) {
    .weather-image h1 {
        font-size: 1.3rem;
    }
}

@media (max-width: 475px) {
    .weather-nav {
        margin: 8px;
    }
}

.weather-card {
    background-color: rgba(255, 224, 181, 0.8);
    border-radius: 50px;
    color: #433A3F;
    border: 2px solid #433A3F;
}

@media (max-width: 1170px) {

    .weather-card h4,
    .weather-card h6 {
        padding: 0 !important;
    }
}

@media (max-width: 470px) {

    .weather-card h4,
    .weather-card h6 {
        font-size: 0.9rem !important;
    }

    .temp-details {
        padding: 0 !important;
    }

    .weather-icon {
        padding: 0 !important;
    }
}

@media (max-width: 370px) {

    .weather-icon img {
        width: 70px;
        padding-top: 20px;
    }

    .temp-details>p>span {
        font-size: 0.8rem !important;
    }

    .weather-card h4,
    .weather-card h6 {
        font-size: 0.78rem !important;
    }
}

#heading {
    font-size: 55px;
    color: #433A3F;
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #433A3F;
    font-size: 0.9rem
}

/* Delete Review Confirmation Page - Styles & Media Queries */

.review-border {
    border: 2px solid #433A3F;
    width: max-content;
    margin: auto;
    padding: 20px;
}

.card-img-top-3 {
    height: 30vw;
    object-fit: scale-down;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .review-border {
        padding: 10px;
    }
    .review-border p {
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .card-img-top-3 {
        height: 40vw;
    }
}

/* Error Pages - Styles & Media Queries */

.error-image {
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1651790004/epic-expeditions/error-image_wwq4mh.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.error-container {
    text-align: center;
    background-color: rgba(67, 58, 63, 0.8);
    border-radius: 50px;
    margin: auto;
    padding: 60px;
    position: relative;
    top: 170px;
    color: #FFFAFA;
}

.error-container h1 {
    font-size: 5rem;
}

.error-container h2 {
    font-size: 3rem;
}

@media (max-width: 576px) {
    .error-container h1 {
        font-size: 3rem;
    }

    .error-container h2 {
        font-size: 1.5rem;
    }

    .error-container h3 {
        font-size: 1rem;
    }
}

