* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

nav, footer {
    background: rgb(67,58,63);
    background: linear-gradient(90deg, rgba(67,58,63,1) 20%, rgba(95,191,249,1) 50%, rgba(67,58,63,1) 80%);
}

.navbar-toggler {
    border-color:#433A3F;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1650135293/epic-expeditions/website-jumbotron_x1vzpw.jpg');
    max-width: 100vw;
    height: 90vh;
  }

.jumbotron {
    background-color: rgba(67, 58, 63, 0.6);
}

h1 {
    font-size: 2.75rem;
    color: #FFFAFA;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
}

.btn {
    background-color: #433A3F;
    
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 575px) {
    .card-img-top {
        height: 55vw;
    }
}

@media (max-width: 991px) {
    .card-img-top {
        height: 40vw;
    }
}

.checked {
    color: #5FBFF9;
}

.star_rating {
    margin: 0 auto;
    width: fit-content;
}

.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}

.btn-submit {
    background-color: #71816D;
    color: white;
}

.btn-like {
    color: #71816D;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E56B65;
    border: none;
    background: transparent;
}

.custom-pagination {
    background-color: transparent;
}

.pagination .page-item .page-link {
    background-color: #433A3F;
}

.review-content {
    margin-top: 125px;
    margin-left: 50px;
}

.addreview-image {
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1649000966/epic-expeditions/addreview-image_l6a1wg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.addreview-card {
    background-color: rgba(67, 58, 63, 0.6);
    color: #FFFAFA;
}

.login-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1648676565/epic-expeditions/login-image_bkqsgn.jpg');
    max-width: 100vw;
    height: 90vh;   
}

.login-form-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1648920035/epic-expeditions/login-form-image_dx300p.jpg');
}

.register-form-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1648921509/epic-expeditions/register-form-image_fbff9h.jpg');
}

.btn-signin,
.btn-signup {
    background-color: #FFE0BF !important;
    border: 1px solid #FFE0BF !important;
    border-radius: 50px;
    color: #433A3F;
    height: 50px;
    font-size: 0.9rem;
}

.login input,
.signup input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login p:last-of-type {
    display: none;
}

.signup label {
    display: none;
}

.register-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1648678473/epic-expeditions/register-image_iyq5r1.jpg');
    max-width: 100vw;
    height: 90vh; 
}

.weather-nav {
    margin: 25px;
}

.search-btn {
    margin-top: 20px;
    margin-right: 20px;
}

.input-group-btn {
    margin: 10px;
}

.weather-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1650133205/epic-expeditions/weather-image_egvanw.jpg');
    max-width: 100vw;
    height: 90vh; 
}

