* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

nav, footer {
    background-color: #433A3F
}

.navbar-toggler {
    border-color:#433A3F;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/legenduzair/image/upload/v1646860079/epic-expeditions/website-jumbotron_qcpgbr.jpg');
    max-width: 100vw;
    height: 90vh;
  }

.jumbotron {
    background-color: rgba(67, 58, 63, 0.6);
}

h1 {
    font-size: 2.75rem;
    color: #FFFAFA;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
}

.btn {
    background-color: #433A3F;
    
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
}

.checked {
    color: #71816d;
}

.star_rating {
    margin: 0 auto;
    width: fit-content;
}

.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}