{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<!-- Sign Out Page -->
<section class="signout-image">
  <div class="container signout-container">
    <h1>Sign Out</h1>
    <p class="text-white">Are you sure you want to sign out of your account?</p>
    <!-- Sign Out Form -->
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="btn btn-info">Sign Out</button>
      <a href="{% url 'review_list' %}" class="btn btn-submit">Cancel</a>
    </form>
  </div>
</section>

{% endblock %}
