{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Add Review Page -->
<section class="addreview-image">
<div class="container p-3">
    <!-- Add Review Container -->
    <div class="card py-3 addreview-card">
        <div class="card-body">
            <h3 class="text-center">{{ controller }}</h3>
            <!-- Add Review Form -->
            <form method="POST" class="add-review" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="star-section pb-2">
                    <h5>Rate Your Expedition!</h5>
                    <span class="fa fa-star star-rating fa-2x my-btn" id="first"></span>
                    <span class="fa fa-star star-rating fa-2x my-btn" id="second"></span>
                    <span class="fa fa-star star-rating fa-2x my-btn" id="third"></span>
                    <span class="fa fa-star star-rating fa-2x my-btn" id="fourth"></span>
                    <span class="fa fa-star star-rating fa-2x my-btn" id="fifth"></span>
                </div>
                <input type="submit" value="{{ controller }}" class="btn btn-info">
            </form>
        </div>
    </div>
</div>
</section>
<!-- Custom JavaScript file -->
<script src="{% static 'js/script.js' %}"></script>

{% endblock content %}