{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Expedition List Page -->
<section>
    <div class="container col-11">
        <div class="row">
            <div class="col text-center mt-5 mb-3 pt-3">
                <h2> Expedition Reviews </h2>
                <hr class="w-50 m-auto">
            </div>
        </div>
        <div>
            <!-- Expedition Review Card -->
            <div class="card-body">
                <div class="row">
                    {% for expedition in travelreview_list %}
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card mb-3 expedition-card">
                            <a href="{% url 'review_detail' expedition.id %}" class="text-decoration-none text-capitalize fw-bold text-dark">
                                <div class="card-body text-center">
                                    <h3 class="card-title">{{ expedition.title }}</h3>
                                    <img src="{{ expedition.travel_image.url }}" alt="image of expedition" class="card-img-top-2 rounded-2 image-list">
                                    <div class="card-body">
                                        <p class="card-text font-weight-bold text-truncate"> {{ expedition.excerpt }}</p>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"> Rating:
                                            <span class="fa fa-star {% if expedition.ratings > 0 %} checked {% endif %}"></span>
                                            <span class="fa fa-star {% if expedition.ratings > 1 %} checked {% endif %}"></span>
                                            <span class="fa fa-star {% if expedition.ratings > 2 %} checked {% endif %}"></span>
                                            <span class="fa fa-star {% if expedition.ratings > 3 %} checked {% endif %}"></span>
                                            <span class="fa fa-star {% if expedition.ratings > 4 %} checked {% endif %}"></span>
                                        </p>
                                    </div>
                                    <div>
                                        <i class="fas fa-heart likes pb-3"></i>
                                        <strong>{{ expedition.no_of_likes }} likes</strong>
                                        <br>
                                        <i class="fas fa-comments comments"></i>              
                                        <strong>{{ expedition.comments.count }} comments</strong>
                                    </div>
                                    <div class="card-footer mt-3 border-0">
                                        <small class="font-weight-bold">Published on: {{ expedition.published }} - By: {{ expedition.author }}</small>
                                    </div>                       
                                </div>
                            </a>
                            </div>
                        </div>
                        <!-- Pagination -->
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <!-- Page Navigation -->
        <nav class="custom-pagination" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link text-white m-2 p-3"> First Page </a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link text-white m-2 p-3">&laquo; Previous Page </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li  class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link text-white m-2 p-3"> Next Page &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>


{% endblock content %}