{% extends "base.html" %}
{% load static %}

{% block content %}

<h3 class="card-title">{{ expedition.title }}</h3>

<p>{{ expedition.content }}</p>

<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>

<small class="text-muted">{{ expedition.published }} by: {{ expedition.author }}</small>
<p><i class="far fa-heart"></i>{{ expedition.likes }}</p>

{% endblock content %}