{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-6 col-lg-4 offset-lg-2">
    
            <h3 class="card-title my-5 text-center">{{ expedition.title }}</h3>

            <div class="my-5">
                <img src="{{ expedition.travel_image.url }}" alt="" class="card-img-top rounded-2">
            </div>

            <div class="pb-5">
                <p>{{ expedition.content }}</p>
            </div>
            <div class="card-body text-center">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">{{ expedition.published }} by: {{ expedition.author }}</small>
                <p class="pt-4"><i class="far fa-heart"></i>{{ expedition.likes.all.count }}</p>
            </div>
            <a href="{% url 'edit_review' expedition.id %}" class="btn btn-warning">Edit Review</a>
            <a href="{% url 'delete_review' expedition.id %}" class="btn btn-danger">Delete Review</a>
        </div>
    </div>

</div>


{% endblock content %}